@{
    ViewData["Title"] = "درباره ما";
    Layout = "_Pages";
}

<!-- about section -->
<section class="about_section layout_padding">
    <div class="container  ">

        <div class="row">
            <div class="col-md-6 ">
                <div class="img-box">
                    <img src="~/images/about-img.png" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="detail-box">
                    <div class="heading_container">
                        <h2>
                            مامی پز
                        </h2>
                    </div>
                    <p>
                        با وبسایت مامی پز به راحتی و با چند کلیک ساده می‌توانید انواع ساندویچ ها،پیتزا ها، غذای های ایرانی،کباب و پاستا را به صورت آنلاین سفارش دهید و از تجربه سفارش آسان از مامی پز لذت ببرید.
                    </p>
                    <div class="col-md-4 footer-col">
                        <div class="footer_contact">
                            <h4>
                                راه های ارتباطی
                            </h4>
                            <div class="footer_contact">

                                <i class="fa fa-mobile" aria-hidden="true"></i>
                                <span>
                                    تلفن همراه: 09335751065
                                </span>
                                <br/>
                                <br/>
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                <span>
                                    تلفن ثابت: 05147222222
                                </span>
                                <br/>
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                <span>
                                    amir10840@gmail.com
                                </span>
                            </div>
                        </div>
                    </div>
                    <a href="/">
                        بازگشت به سایت
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end about section -->
