
@{
    ViewData["Title"] = "OnlinePayment";
}

<div class="alert alert-success">
    <h4>پرداخت شما با موفقیعت انجام شد</h4>
    <h5>سفارش شما از طریق پیک به نشانی که وارد کردید ارسال می شود.</h5>
    <p>کد پیگیری پرداخت: @ViewBag.Code</p>
</div>