@model RegisterViewModel
@{
    Layout = "_DefaultLayout";
}


<br />
<h1 class="text-center">ثبت نام با موفقیت انجام شد.</h1>
<div class="alert alert-success">
    سلام '@Model.FullName' به وبسایت ما خوش آمدید.
</div>
